{{#bp-layout direction="col" classNames="country-lv-card-outer"}}

    {{#bp-layout direction="row" classNames="country-lv-card-top"}}
        <p class=""></p>
    {{/bp-layout}}
    {{#bp-layout direction="row" classNames="country-lv-card-mid"}}
    
    {{/bp-layout}}
    {{#bp-layout direction="row" classNames="country-lv-card-bottom"}}
    
    {{/bp-layout}}
{{/bp-layout}}
{{yield}}