{{#bp-layout direction="row" main="between" classNames="mb-top-nav-outer"}}
    {{#bp-layout direction="row" cross="center" classNames="mb-top-nav-left"}}
        <p>Pharbers</p>
        <p>M A X</p>
    {{/bp-layout}}
    {{#bp-layout direction="row" cross="center" classNames="mb-top-nav-right"}}
        {{#bp-button}}功能{{/bp-button}}
        {{#bp-button}}头像{{/bp-button}}
    {{/bp-layout}}
{{/bp-layout}}
{{#bp-layout direction="row" classNames="mb-top-nav-content"}}
{{/bp-layout}}
{{yield}}