{{#bp-layout direction='col' classNames='market-share-card p-4'}}
    <p class="market-share-card-title mb-3">{{item.title}}</p>
    {{#bp-layout direction='row' cross='center' classNames=''}}
        <p class="num-text">{{item.value}}</p>
        <span class="num-help-text">%</span>
    {{/bp-layout}}
    <p class="help-text mb-3">市场份额变化</p>
    {{#bp-layout direction='col' classNames='mt-3'}}
        {{#bp-layout direction='row' cross='center' classNames='ranking mb-3'}}
            <p class="rank mr-3">1</p>
            <p class="name mr-4">Hepsera</p>
            <p class="con">MS绝对值</p>
        {{/bp-layout}}
         {{#bp-layout direction='row' cross='center' classNames='ranking mb-3'}}
            <p class="rank mr-3">1</p>
            <p class="name mr-4">Hepsera</p>
            <p class="con">MS绝对值</p>
        {{/bp-layout}}
         {{#bp-layout direction='row' cross='center' classNames='ranking mb-3'}}
            <p class="rank mr-3">1</p>
            <p class="name mr-4">Hepsera</p>
            <p class="con">MS绝对值</p>
        {{/bp-layout}}
    {{/bp-layout}}
{{/bp-layout}}