{{#bp-layout direction='col' classNames='market-size-card'}}
    <p class="market-size-card-title ml-4 mr-4 mt-3 mb-3">Market Size</p>
    {{#bp-layout direction='row' cross='center' classNames='m-4'}}
        <p class="num-text">418.31</p>
        <span class="num-help-text">Mil</span>
    {{/bp-layout}}
{{/bp-layout}}