.channel-card {
    padding: $spacing*3;
    height: 222px;
    background: #FFFFFF;
    -webkit-box-shadow: 0 4px 8px -2px rgba(9,30,66,0.25);
            box-shadow: 0 4px 8px -2px rgba(9,30,66,0.25);
    border-radius: 4px;
    margin-right: $spacing*3;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;

    &:nth-last-child(1) {
        margin-right: 0;
    }

    .card-title {
        @extend %header-medium;
        font-weight: bold;
    }
    .data-time {

        .time-title {
            @extend %p-primary;

        }
        .time-content {
            @extend %p-secondary;
        }
    }
    .card-btn-outer {
        margin-top: 40px;

        .card-btn {
            width: 80px;
        }
    }
}