.mb-page-container.choose-channel {
    padding: 24px 80px;

    .page-title {
        @extend %header-large;
        margin-bottom: 40px;
        font-weight: bold;
    }
    .card-list-container {
        -webkit-box-flex: 1;
        -webkit-flex: auto;
            -ms-flex: auto;
                flex: auto;
    }
}