@import "ember-bootstrap/bootstrap";
@import 'bp-components';

@import 'mb-top-nav';
@import 'mb-chart-title';
@import 'country-lv-card';
@import 'channel-card';

@import 'index';
@import 'country-lv-monitor';
@import 'returned-page';
@import 'choose-channel';
@import 'analysis';
@import 'page-left-menu';
@import 'overall-market-share-card';
@import 'overall-market-size-card';

body {
    margin: 0;
    height: 100%;
    width: 100%;
    min-width: 1200px;

    & > .ember-view {
        height: 100%;
    }
}

p {
    margin: 0;
}
.mb-full-page-outer {
    height: 100vh;
}
.mb-page-outer {
    height: calc(100vh - 64px);
    background-color: $n020;
}
.mb-page-container {
    // min-height: calc(100vh - 56px);
    overflow-y: auto;
    // height: fit-content;
    padding: $spacing*2;

}

.thin-margin-bottom {
    margin-bottom: $spacing;
}

.normal-margin-bottom {
    margin-bottom: $spacing*2;
}

.normal-padding {
    padding: $spacing*2;
}

div.bg-white {
    background-color: $n000;
}
.charts {
    background: #FFB377;;
}