.country-select-part {
    padding: $spacing $spacing*2;
    .select-label-container {
        height: 40px;
        margin-right: $spacing*2;

        .select-label {
            margin-right: $spacing;
        }
    }
    height: 60px;
}
.country-card-part {
    
}
.country-double-chart {
    
}
.country-sale-line-chart {
    
}
.country-sale-bar-chart {
    
}
.country-share-line-chart {
    
}
.country-share-bar-chart {
    
}
