.country-head-part {
    .p-btn.primary {
        margin-left: $spacing*2;
    }
}
.country-select-part {
    padding: $spacing $spacing*2;
    .select-label-container {
        height: 40px;
        margin-right: $spacing*2;

        .select-label {
            margin-right: $spacing;
        }
    }
    height: 60px;
}
.country-card-part {

    .country-lv-card {
        flex-grow: 1;
        margin-right: $spacing*2;

        &:nth-last-child(1) {
            margin-right: 0;
        }
    }
}
.country-double-chart {
    .country-double-chart-mid {
        background-color: #f4f5f7;
        width: $spacing*2
    }
    .country-double-chart-line {
        flex-grow: 1;
        max-width: calc(50% - 8px);
        margin-right: $spacing*2;
    }
    .country-double-chart-pie {
        flex-grow: 1;
        max-width: calc(50% - 8px);
    }
}
.country-sale-line-chart {
    
}
.country-sale-bar-chart {
    
}
.country-share-line-chart {
    
}
.country-share-bar-chart {
    
}
.min-h {
    min-height: fit-content;
}