.country-lv-card-outer {
    // padding: $spacing*2;
    min-width: 240px;
    // max-width: 380px;
    height: 174px;
    // margin-right: $spacing*2;

    .country-lv-card-top {
        // margin-top: $spacing*2;
        // margin-bottom: $spacing*2;

        .main-content {
            @extend %title;
        }
    }
    .country-lv-card-mid {
        margin-bottom: $spacing;

        .tag-content {
            @extend %p-primary;
            margin-right: $spacing;
            padding: 0 $spacing;
            background-color: #899ED6;
            width: 80px;
            color: #FFFFFF;
            border-radius: 4px;
            text-align: center;
            overflow: hidden;
            -o-text-overflow:ellipsis;
               text-overflow:ellipsis;
            white-space: nowrap;
                        
        }
    }
    .country-lv-card-bottom {
        .detail-content {
            @extend %p-primary;
            // margin-right: $spacing;
        }
        .detail-red {
            color: red;
            margin-right: $spacing*2;

            .triangle-up{  
                display:inline-block;  
                width:0;  
                height:0;  
                border-left: 6px solid transparent;  
                border-right: 6px solid transparent;  
                border-bottom: 10px solid red;
            } 
        }
        .detail-green {
            color: #57D9A3;
            margin-right: $spacing*2;

            .triangle-down{  
                display:inline-block;  
                width:0;  
                height:0;  
                border-left: 6px solid transparent;  
                border-right: 6px solid transparent;  
                border-top: 10px solid green;
            } 
        }
    }
}