.chart-title-outer {
    .market-name, .title-content {
        @extend %header-medium;
        padding-right: $spacing;
    }
    .time-content {
        @extend %p-secondary;
    }
    .area-content {
        @extend %p-secondary;
    }
    .chart-title-left {
        width: 100%;
        .chart-title-top-content {
            width: 100%;
        }
    }
    .sel-title {
        @extend %p-primary;
        color: #344563;
    }
    .select {
        width: 125px;
        max-height: 32px;
        .bp-dropdown {
            .dropdown-button {
                width: 125px;
                max-height: 32px;
            }
        }
    }
}