{{#bp-layout direction="col" classNames="mb-page-container choose-channel"}}
    <p class="page-title">您好，欢迎使用MAX View</p>
    {{#bp-layout direction="row" main='between' classNames="card-list-container"}}
        {{#each model.cardList as |card|}}
            {{channel-card cardData=card onCardClick=(action 'onCardClick')}}
        {{/each}}
    {{/bp-layout}}
{{/bp-layout}}